
.img-fluid {
    max-width: 100%;
    height: 100px;
}
td,tr{
    font-weight: 300;
}
:root {
    --white: white;
    --purple: #8F34BD;
    --light-purple: #F9EAFF;
    --orange: #FF6D0E;
    --gray: #7E868E;
    --font-family-sans-serif: Roboto;

}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /*-ms-overflow-style: scrollbar;*/
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    /* overflow-x: hidden; */
    min-height: 100vh;
}

a.text:active,
a.text {
    text-decoration: none;
    color: #7E868E;
}

a.text:hover {
    color:  #FF6D0E;
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 0.8rem
}

img {
    vertical-align: middle;
    border-style: none
}

li {
    color: #8F34BD;
}

li p, b {
    color: black;
}

.footer {
    color: var(--gray);
    background-color: var(--light-purple);
    /*position: relative;*/
    padding-bottom: 2rem;
    /*margin-top: 70vw;*/

}

.footer-phone {
    font-size: 20px;
    font-weight: 200;

    margin-top: 2rem;
}

.about-text{
    font-size: 19px;
}
.purple-text {
    color: var(--purple);
}

.orange-text {
    color: var(--orange);
}

.docs-text,
.docs-text:hover{
    color: var(--orange);
}
.text-decor{
    text-decoration: underline;
}
.light-purple-text {
    color: var(--light-purple);
}

.white-text {
    color: white;
}