
.img-fluid {
    max-width: 100%;
    height: 100px;
}
td,tr{
    font-weight: 100;
}
:root {
    --white: white;
    --purple: #8F34BD;
    --light-purple: #F9EAFF;
    --orange: #FF6D0E;
    --gray: #7E868E;
    --font-family-sans-serif: Roboto;

}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /*-ms-overflow-style: scrollbar;*/
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    /* overflow-x: hidden; */
    min-height: 100vh;
}

a.text:active,
a.text {
    text-decoration: none;
    color: #7E868E;
}

a.text:hover {
    color:  #FF6D0E;
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 0.8rem
}

img {
    vertical-align: middle;
    border-style: none
}

li {
    color: #8F34BD;
}

li p, b {
    color: black;
}

.footer {
    color: var(--gray);
    background-color: var(--light-purple);
    /*position: relative;*/
    padding-bottom: 2rem;
    /*margin-top: 70vw;*/

}

.footer-phone {
    font-size: 20px;
    font-weight: 200;

    margin-top: 2rem;
}

.purple-row {
    padding: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--light-purple);
}

.white-row {
    padding: 8vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--white);
}

.button-orange {
    align-items: center;
    padding: 15px 20px;
    /* gap: 10px; */
    font-size: 0.9rem;
    height: 3rem;
    width: 10rem;
    text-align: center;
    color: var(--white);
    background:#FF6D0E;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-category {
    align-items: center;

    height: 3rem;
    width: 50px;
    text-align: center;
    color: black;
    background: white;
    border-radius: 8px;
    border: 1px solid black;

    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    float: left;
}

.swiper-slide{
    width: 50px;
}
.button-category-selected {
    align-items: center;

    height: 3rem;
    width: 5rem;
    /*width: 100px;*/
    text-align: center;
    color: white;
    background: #FF6D0E;
    border-radius: 8px;
    border: 1px solid black;

    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    float: left;
}



.prev, .next {
    cursor: pointer;
}

.main-page-img {
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.map {
    height: 500px;
    position: relative;
    font-size: 17px;
    width: inherit;
}

.map-radius {
    border-radius: 20vw 20vw 0 0;
    background-color: white;
    height: 25px;
    width: 100%;

    position: absolute;
    bottom: 0;
}

.about-text{
    font-size: 19px;
}
.purple-text {
    color: var(--purple);
}

.orange-text {
    color: var(--orange);
}

.docs-text,
.docs-text:hover{
    color: var(--orange);
}
.text-decor{
    text-decoration: underline;
}
.light-purple-text {
    color: var(--light-purple);
}

.white-text {
    color: white;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*width: 235px;*/
    /*height: 300px;*/
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px var(--purple);
    font-size: 20px;
    word-wrap: break-word;
}

.text-card {
    word-wrap: break-word;
}

.category-bar {
    height: 0.5rem;
    font-size: 20px;
}

.img-card {
    border-radius: 15px 15px 0px 0px;
    width: inherit;
}
.menu{
    min-width:100%;
}
.map-header{
    font-size: 1.3rem;
}
.office-img{
    width: 300px;
}
.pharms-logo-img{
    width: 150px;
}
@media (max-width: 576px) {
    .container {
        max-width: 540px;

    }

    .product-card {
        height: 290px;
    }

    .img-card {
        height: 200px;
    }

    .text-card {
        height: 110px;
    }

    .category-bar {
        width: 13rem;
        font-size: 16px;
    }

    .about-img {
        /* background: rgba(0,0,0,0.9); */
        height: 260px;
        background-size: 100%  400px;
    }

    .map {
        font-size: 0.8rem;
    }
    .map-header{
        font-size: 1.3rem;
    }
    .map-radius {
        height: 20px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }

    .about-img {
        height: 75vw;
        background-size: 100%  700px;
    }

    .img-card {
        height: 145px;
    }

    .text-card {
        height: 115px;
    }

    .category-bar {
        width: 30rem;
        font-size: 16px;
    }

    .product-card {
        height: 230px;
        font-size: 15px;
    }
    .map {
        font-size: 1.2rem;
    }
    .map-header{
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }

    .about-img {
        height: 60vw;
    }

    .img-card {
        height: 160px;
    }

    .text-card {
        height: 120px;
    }

    .product-card {
        height: 260px;
        font-size: 17px;
    }

    .category-bar {
        width: 40rem;
        font-size: 17px;
    }
    .map {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }

    .about-img {
        height: 50vw;
        background-size: 100%  750px;
    }

    .img-card {
        height: 250px;
    }

    .text-card {
        height: 70px;
    }

    .product-card {
        height: 320px;
        font-size: 17px;
    }

    .category-bar {
        width: 55rem;
        font-size: 16px;
    }
    .map {
        font-size: 1.2rem;
    }

    h5{
        font-size: 1rem
    }
    .menu{
        min-width: max-content
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }

    .about-img {
        height: 40vw;
        background-size: 100%  900px;
    }

    .img-card {
        height: 300px;
    }

    .text-card {
        height: 30px;
    }

    .product-card {
        height: 350px;
        font-size: 17px;
    }

    .category-bar {
        width: 60rem;
    }
    .menu{
        min-width: max-content
    }
    .map {
        font-size: 1.3rem;
    }
    .map-header{
        font-size: 2.5rem;
    }
}

.category-row{
    height: 3.5rem;
}