<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Credit offers</title>
</head>
<body>

<div>
    <table align="center" border="1">
        <tr>
            <td>
                Client first name
            </td>
            <td>
                Client second name
            </td>
            <td>
                Client passport ID
            </td>
            <td>
                Limit
            </td>
            <td>
                Interest rate
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr th:unless="${#lists.isEmpty(creditOffers)}" th:each="creditOffer : ${creditOffers}">
            <td th:text="${creditOffer.client.firstName}"></td>
            <td th:text="${creditOffer.client.secondName}"></td>
            <td th:text="${creditOffer.client.passportID}"></td>
            <td th:text="${creditOffer.credit.limit}"></td>
            <td th:text="${creditOffer.credit.interestRate}"></td>
            <td><a th:href="@{/paymentEvents/{offerId}(offerId=${creditOffer.id})}">Payment events</a></td>
            <td><a th:href="@{/creditsOffers/edit/{id}(id=${creditOffer.id})}">Edit</a></td>
        </tr>
        <tr>
            <td colspan="5" align="center">
                <a th:href="@{/creditsOffers/new}">
                    <button>Add</button>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>