<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Credit offers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{../assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div>
    <div class="container">
        <div class="col-10 mx-auto">
    <table class="table table-bordered">
        <tr>
            <td>
                <h5>Client first name</h5>
            </td>
            <td>
                <h5>Client second name</h5>
            </td>
            <td>
                <h5>Client passport ID</h5>
            </td>
            <td>
                <h5>Limit</h5>
            </td>
            <td>
                <h5>Interest rate</h5>
            </td>
            <td>
                <h5>Duration (in mount)</h5>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr th:unless="${#lists.isEmpty(creditOffers)}" th:each="creditOffer : ${creditOffers}">
            <td th:text="${creditOffer.client.firstName}"></td>
            <td th:text="${creditOffer.client.secondName}"></td>
            <td th:text="${creditOffer.client.passportID}"></td>
            <td th:text="${creditOffer.credit.limit}"></td>
            <td th:text="${creditOffer.credit.interestRate}"></td>
            <td th:text="${creditOffer.duration}"></td>
            <td th:text="${creditOffer.paymentSum}"></td>
            <td><a th:href="@{/paymentEvents/{offerId}(offerId=${creditOffer.id})}">Payment events</a></td>
            <td><a th:href="@{/creditsOffers/remove/{id}(id=${creditOffer.id})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-x-lg"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd"
                          d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
            </a></td>
        </tr>
        <tr>
            <td colspan="9" align="center">
                <a th:href="@{/creditsOffers/new}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-journal-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                    </svg>
                </a>
            </td>
        </tr>
    </table>
</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>