<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<table>
    <tr>
        <td>
            <a th:href="@{/clients}">Clients</a>
        </td>
        <td>
            <a th:href="@{/credits}">Credits</a>
        </td>
        <td>
            <a th:href="@{/creditsOffers}">Credit offers</a>
        </td>
        <td>
            <a th:href="@{/paymentEvents}">Payment events</a>
        </td>
    </tr>
</table>
</body>
</html>