<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update payment event</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<form th:action="@{/paymentEvents/new}" th:object="${paymentEvent}" method="post">
    <table border="1" align="center">
        <tr>
            <td>
                Payment sum
            </td>
            <td>
                <input type="text"  th:field="*{paymentSum}" />
            </td>
        </tr>
        <tr>
            <td>
                Credit sum
            </td>
            <td>
                <input type="text"  th:field="*{creditSum}"/>
            </td>
        </tr>
        <tr>
            <td>
                Interest sum
            </td>
            <td>
                <input type="text"  th:field="*{interestSum}"/>
            </td>
        </tr>
        <tr>
            <td>
                Date
            </td>
            <td>
                <input type="date" th:value="${paymentEvent.localDate}"  th:field="*{localDate}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="hidden"  th:field="*{id}" />
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>

</form>
</body>
</html>